package ${basePackage}.model;

import java.io.Serializable;
import java.sql.Timestamp;

public class ${modelClass} implements Serializable {
	private static final long serialVersionUID = 1L;

	${modelFields}
	${getter}
	${setter}
}